<!--?xml version="1.0"?-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nonamespaceschemalocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="acme_route" frontName="hello">
            <module name="Acme_FirstModule"/>
        </route>
    </router>
</config>
